# Ignore database
db.sqlite3

# Ignore environment
environment.py
environment

# Ignore all .pyc files
__pycache__

# Ignore static/uploads/image except image1.png
static/uploads/image
!static/uploads/image/image1.png