# Ignore database
db.sqlite3

# Ignore environment variables
environment.py

# Ignore all .pyc files
__pycache__

# Ignore static/uploads/image except image1.png
static/uploads/image
!static/uploads/image/image1.png