{% include 'components/header.html' %}
<div id="emergency" style="color: white; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-family: sans-serif; font-weight: bold; text-shadow: 0 0 10px white;">
    <h1>{{ emergency_title }}</h1>
    <h1>{{ emergency_subtitle }}</h2>
</div>

<audio id="emergencyAlarm" autoplay loop>
    <source src="/static/music/emergency.mp3" type="audio/mpeg">
</audio>

<script>
    // Play alarm
    document.addEventListener('DOMContentLoaded', function() {
        var audioElement = document.getElementById("emergencyAlarm");
        audioElement.volume = 1;
        audioElement.play();

        document.addEventListener("click", function() {
            audioElement.play();
        });
    });
   // Flicker effect
    var title = document.getElementById('emergency');
    var flicker = function () {
        title.style.opacity = Math.random();
        setTimeout(flicker, 100);
    };
    flicker();
</script>