{% load static %}
{% load i18n %}

<video id="valentineVideo" autoplay loop style="width: 100%; heigth: auto">
  <source src="/static/videos/valentine.mp4" type="video/mp4">
</video>

<nav class="navbar fixed-bottom bg-white" style="--bs-bg-opacity: .20;">
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <span class="navbar-brand mb-0 text-light">
            {{ enterprise_name }} {% translate "wishes you a happy Valentine Day!" %}
        </span>
    </div>
</nav>

<audio id="valentineSong" autoplay loop>
    <source src="/static/musics/valentine.mp3" type="audio/mpeg">
</audio>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var audioElement = document.getElementById("valentineSong");
    audioElement.volume = 0.2;
    audioElement.play();

    document.addEventListener("click", function() {
      audioElement.play();
    });
  });
</script>