<div id="caroussel" class="carousel slide carousel-fade">
    <div class="carousel-inner">
        {% for media in medias %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ media.image }}" style="height: 100vh; width: 100%; object-fit: auto;" alt="{{ media.name }}"/>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    var carousselElement = document.getElementById('caroussel');
    const carousel = new bootstrap.Carousel(carousselElement, {
        interval: 2500,
        pause: false,
        ride: "carousel",
        wrap: true
    });
</script>
