<nav id="footer" class="navbar bg-white" style="--bs-bg-opacity: .20;">
    <div class="container-fluid">
        <h1 id="footer-text" class="mb-0 text-start text-light">
            Développé par André Théo LAURET
        </h1>
    </div>
</nav>
<script>
    // Style depending on screen size
    if (window.innerWidth >= 1000) {
        document.getElementById("footer").classList.add("fixed-bottom");
        document.getElementById("footer-text").classList.add("display-6");
    } else {
        document.getElementById("footer").classList.add("display-4");
    }
</script>
