<nav class="navbar bg-warning">
    <div class="container-fluid">
        <span id="enterprise-name" class="mb-0 text-start">
            {{ enterprise_name }}
        </span>
        <span id="time" class="mb-0"></span>
    </div>
</nav>
<script>
    // Style depending on screen size
    if (window.innerWidth >= 3000) {
        // Digital Signage
        document.getElementById("enterprise-name").classList.add("display-6");
        document.getElementById("time").classList.add("display-6");
        document.getElementById("time").classList.add("text-end");
    } else if (window.innerWidth <= 1000) {
        // Mobile
        document.getElementById("enterprise-name").classList.add("display-1");
        document.getElementById("time").classList.add("display-3");
    } 
    
    const days = ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"];
    const months = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"];

    function updateTime() {
        let date = new Date();
        let day = days[date.getDay()];
        let month = months[date.getMonth()];
        let year = date.getFullYear();
        let hour = date.getHours();
        let minute = date.getMinutes();
        let second = date.getSeconds();
        hour = (hour < 10 ? "0" : "") + hour;
        minute = (minute < 10 ? "0" : "") + minute;
        second = (second < 10 ? "0" : "") + second;
        let formattedTime = day + " " + date.getDate() + " " + month + " " + year + " à " + hour + ":" + minute + ":" + second;
        document.getElementById("time").innerHTML = formattedTime;
    }

    setInterval(updateTime, 1000);
</script>
