<nav class="navbar bg-white" style="--bs-bg-opacity: .20;">
    <div class="container-fluid justify-content-center">
        <span class="navbar-brand text-light">
            <h1 id="planning-title">Organisation des salles de TP</h1>
        </span>
    </div>
</nav>
<table id="planning-table" class="table table-bordered border-white table-dark table-striped text-center">
    <thead>
        <tr>
            <th></th>
            {% for room in rooms %}
            <th>{{ room.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for time in times %}
        <tr>
            <td>{{ time.name }}</td>
            {% for room in rooms %}
            <td>
                {% for plan in planning %}
                {% if plan.time == time and plan.room == room %}
                {{ plan.teacher.name }}
                {% endif %}
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    // Style depending on screen size
    if (window.innerWidth >= 1000) {
        document.getElementById("planning-title").classList.add("display-6");
        document.getElementById("planning-table").classList.add("display-6");
    } else {
        document.getElementById("planning-title").classList.add("display-3");
        document.getElementById("planning-table").classList.add("display-3");
    }
</script>