{% load static %}
<html lang="fr-FR">

<head>
    <title>Scovie</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        var screenModes = {{ screen_modes|safe }};
        var currentScreenMode = screenModes.indexOf('{{ screen_mode }}');

        setInterval(function(){
            currentScreenMode = (currentScreenMode + 1) % screenModes.length;
            window.location.href = '?screen_mode=' + screenModes[currentScreenMode];
        }, 15000);
    </script>
     
</head>
<body class="bg-black">
    {% if screen_mode == 'all' %}
        {% include 'pages/all.html' %}
    {% elif screen_mode == 'caroussel' %}
        {% include 'pages/caroussel.html' %}
    {% elif screen_mode == 'informations' %}
        {% include 'pages/informations.html' %}
    {% elif screen_mode == 'emergency' %}
            {% include 'pages/emergency.html' %}
    {% elif screen_mode == 'valentine' %}
        {% include 'events/valentine.html' %}
    {% endif %}
</body>
</html>